<div>
    <p>
        Título: <b>@pelicula.Titulo</b>

        @if (DateTime.Today.Subtract(pelicula.FechaLanzamiento).Days <= 14)
        {
            <span style="color: red"> (¡NUEVO!)</span>
        }
    </p>

    <p>Fecha lanzamiento: <b>@pelicula.FechaLanzamiento.ToString("dd MMM yyyy")</b></p>
    
    @if (MostrarBotonEliminar)
    {
        <div>
            <button @onclick="@(()=> Eliminarpelicula.InvokeAsync(pelicula))">Borrar</button>
        </div>        
    }

</div>

@code {
    [Parameter]
    [EditorRequired] //Esto es por si se olvida pasar el parámetro Pelicula="pelicula"
    public Pelicula pelicula { get; set; } = null!;

    [Parameter]
    public bool MostrarBotonEliminar { get; set; } = false;

    [Parameter]
    public EventCallback<Pelicula> Eliminarpelicula { get; set; }


    // void Eliminar()
    // {
    //     Console.WriteLine($"La película {pelicula.Titulo} ha sido eliminada.");
    // }
}
